<form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form col-lg-3 col-offset-2">
  <div class="form-group row">
   <input type="email" class="form-control" name="emailid" placeholder="emailid" formControlName="emailid">
 </div>

  <div class="form-group row">
   <input type="password" class="form-control"  name="passwd" placeholder="passwd" formControlName="passwd" minlength="3" maxlength="8" required>
  </div>

  <div class="form-group row">
    <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!formData.valid" [ngClass]="{disabled: !formData.valid}">
    <input type="reset" value="Limpiar" class="btn btn-secondary" (click)="formData.reset();" style="margin-left:3px;">
  </div>
</form>

<p *ngIf="emailId">
   Email ingresado : {{emailId}}
</p>
